@model List<Cita>

@section navlinks {
    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
    <a class="nav-item nav-link" asp-controller="Citas" asp-action="CitasIndex">Concertar Cita</a>
    <a class="nav-item nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    <a class="nav-item nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Tu perfil</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container p-5 px-lg-0">
        <div class="g-0 mx-lg-0">
            <div class="contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="text-center">
                        <img src="~/images/client-profile-img.jpg" 
                             class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        <h3>@Context.User.FindFirst("NombreCompleto").Value</h3>
                        <h4>@Context.User.FindFirst(ClaimTypes.Name).Value</h4>
                        <a class="btn btn-primary m-2" asp-controller="Manage" asp-action="ModificarPerfilUsuario">Editar Perfil</a>

                    </div>


                    <div class="p-2 rounded-3">
                        <h4 class="mb-4 p-3 rounded-0" style="background-color: #f7f1ec; color: #9a683b; box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); border-bottom: #7c5330 2px solid;">Tus Citas</h4>
                        @if (Model.Count != 0)
                        {
                            <div class="accordion" id="accordionCitas">
                                @foreach (Cita cita in Model)
                                {
                                    string idheading = "heading" + cita.IdCita;
                                    string idcollapse = "collapse" + cita.IdCita;


                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="@idheading">
                                            <button class="accordion-button collapsed" style="background-color: #f7f1ec;" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="#@idcollapse">
                                                @cita.FechaCita.ToShortDateString() para @cita.NombrePerro
                                            </button>
                                        </h2>
                                        <div id="@idcollapse" class="accordion-collapse collapse" aria-labelledby="#@idheading" data-bs-parent="#accordionCitas">
                                            <div class="accordion-body">
                                                <strong>Motivo: </strong>
                                                <br />
                                                @cita.MotivoCita
                                                <br />
                                                <strong>Objetivo: </strong>
                                                <br />
                                                @cita.ObjetivoCita
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <h4 class="text-black p-4">No tiene citas</h4>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->

@section scripts {
    <script>
        $(document).ready(function () {
            @foreach(Cita cita in Model)
            {
                string idheading = "heading" + cita.IdCita;
                string idcollapse = "collapse" + cita.IdCita;
                <text>
                $("#@idheading").click(function () {
                    $("#@idcollapse").fadeToggle(400);
                });
                </text>
            }
        });
         @if(ViewBag.Mensaje != null)
        {
            <text>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                },
                background: '#6c757d',
                color: '#FFFFFF'
            });

            Toast.fire({
                icon: 'success',
                title: "@ViewBag.Mensaje"
            });
            </text>
        }
    </script>
}
