@model List<Empleado>

@{  
    Layout = ViewBag.Layout;
    List<Rol> roles = ViewBag.Roles as List<Rol>;
}

@section title {
    <title>Empleados</title>
}

<form method="post" class="form">
    <div class="form-group">
        <input type="search" name="nombre" placeholder="Nombre de empleado" class="m-2 form-control" />
        <button class="btn btn-info m-2">Buscar</button>
    </div>
</form>

<a class="btn btn-warning" asp-controller="EmpleadosAdministracion" asp-action="AgregarEmpleado">Agregar empleado</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Empleado emp in Model)
        {
        <tr>
            <td>@emp.Nombre</td>
            <td>@emp.Apellidos</td>
            <td>@emp.Correo</td>
            <td>@emp.Telefono</td>
            <td>@roles.Find(z => z.IdRol == emp.IdRol).NombreRol</td>
        </tr>
        }    
    </tbody>
</table>
