@model List<Cita>

@{
    Layout = ViewBag.Layout;
}


@section title {
    <title>Administración de citas</title>
}

@if (Model != null && Model.Count != 0)
{
    <div class="table-responsive h-100">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Perro</th>
                    <th>Raza</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cita cita in Model)
                {
                    <tr>
                        <td>@cita.FechaCita.ToShortDateString()</td>
                        <td>@cita.NombrePerro</td>
                        <td>@cita.RazaPerro</td>
                        <td>@cita.TelefonoContacto</td>
                        <td>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle d-sm-inline-block" href="#"
                                   data-bs-toggle="dropdown">
                                    <span class="text-dark">Opciones </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" asp-controller="CitasAdministracion" asp-action="DetallesCita" asp-route-idcita="@cita.IdCita">
                                        <i class="align-middle me-1"
                                           data-feather="info"></i> Detalles
                                    </a>

                                    <a class="dropdown-item" asp-controller="CitasAdministracion" asp-action="ModificarCita" asp-route-idcita="@cita.IdCita">
                                        <i class="align-middle me-1"
                                           data-feather="edit"></i> Modificar
                                    </a>

                                    <a class="dropdown-item" asp-controller="CitasAdministracion" asp-action="DeleteCita" asp-route-idcita="@cita.IdCita" asp-route-fechacita="@cita.FechaCita.ToShortDateString()" asp-route-nombreperro="@cita.NombrePerro">
                                        <i class="align-middle me-1"
                                           data-feather="delete"></i> Eliminar
                                    </a>

                                </div>
                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    @section scripts {
        <script>
         @if(ViewBag.Mensaje != null)
            {
            <text>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                },
                background: '#6c757d',
                color: '#FFFFFF'
            });

            Toast.fire({
                icon: 'success',
                title: "@ViewBag.Mensaje"
            });
            </text>
        }
        </script>
    }
}
else
{
    <h3 class="text-black p-4">No tienes citas</h3>
}


