@model Cita

@{
    Layout = ViewBag.Layout;
}

@section title {
    <title>Detalles de cita</title>
}

<h1>Detalles de la cita</h1>
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">

            <div class="card-body">
                <p class="card-text"><strong>Fecha de la cita:</strong> @Model.FechaCita.ToShortDateString()</p>
                <p class="card-text"><strong>Nombre y raza del perro:</strong> @Model.NombrePerro - @Model.RazaPerro </p>
                <p class="card-text"><strong>Teléfono de contacto:</strong> @Model.TelefonoContacto </p>
                <p class="card-text"><strong>Motivo de la cita:</strong></p>
                <p class="card-text">@Model.MotivoCita</p>
                <p class="card-text"><strong>Objetivo de la cita:</strong></p>
                <p class="card-text">@Model.ObjetivoCita</p>

                <a asp-controller="CitasAdministracion" asp-action="ModificarCita" asp-route-idcita="@Model.IdCita" class="btn btn-primary">Modificar</a>
            </div>
        </div>
    </div>
</div>