@model List<Consulta>

@{
    Layout = ViewBag.Layout;
    List<Estado> estados = ViewBag.Estados as List<Estado>;
}

@section title {
    <title>Consultas</title>
}

@foreach (Consulta c in Model)
{
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">@estados.Find(z => z.IdEstado == c.Estado).TextoEstado</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Teléfono:</strong>  @c.TelefonoContacto </p>
                        <p class="card-text"><strong>Email:</strong> @c.EmailContacto </p>
                        <p class="card-text">@c.TextoConsulta</p>
                        <a  class="btn btn-primary" asp-controller="ConsultasAdministracion" asp-action="DetallesConsulta" asp-route-idconsulta="@c.IdConsulta">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}