@model Consulta
@{
    Layout = ViewBag.Layout;
    List<Estado> estados = ViewBag.Estados as List<Estado>;
}

@section title {
    <title>Detalles consulta</title>
}

<div class="container m-3">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-info float-end m-2" asp-controller="ConsultasAdministracion" asp-action="ConsultasListado">Volver</a>
            <p class="card-text"><strong>Email de contacto:</strong> @Model.EmailContacto</p>
            <p class="card-text"><strong>Teléfono de contacto:</strong> @Model.TelefonoContacto</p>
            
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="card-text"><strong>Motivo de la consulta:</strong></p>
                    <p class="card-text">@Model.TextoConsulta</p>

                    <form method="post" class="w-25">
                        <input type="hidden" name="idconsulta" value="@Model.IdConsulta" />
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-select" name="estado">
                                <option selected value="@Model.Estado">@estados.Find(z => z.IdEstado == Model.Estado).TextoEstado</option>
                                @foreach (Estado estado in estados)
                                {
                                    if (Model.Estado != estado.IdEstado)
                                    {
                                        <option value="@estado.IdEstado">@estado.TextoEstado</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="mt-2 btn btn-warning btn-rounded">Cambiar estado</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>




